.nav-pills .nav-link.active {
    background-color: transparent!important; 
    color: rgb(11, 8, 168) !important; 
    font-weight: bold;
    font-size: 25px;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.281);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .typing {
    position: relative;
  }
  
  .typing span {
    animation: blink 1.5s infinite;
    animation-fill-mode: both;
    height: 10px;
    width: 10px;
    background: #3b5998;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
  }
  
  .typing span:nth-child(2) {
    animation-delay: 0.2s;
    margin-left: 15px;
  }
  
  .typing span:nth-child(3) {
    animation-delay: 0.4s;
    margin-left: 30px;
  }
  
  @keyframes blink {
    0% {
      opacity: 0.1;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0.1;
    }
  }