.nav-pills .nav-link.active {
    background-color: transparent!important; 
    color: rgb(11, 8, 168) !important; 
    font-weight: bold;
    font-size: 25px;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.281);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
  }